build
unit/coverage/report
unit/coverage/*.gcov
*.o
*.core
/daemon/sailjaild
/daemon/sailjail
/daemon/sailjailclient
/daemon/test/test_appinfo
/daemon/test/test_permissions
/daemon/test/test_settings
/daemon/test/test_stringset
/daemon/test/test_util
/daemon/test/*.gc*
/daemon/test/*.html
/daemon/test/sailjail/permissions/
/report/
/coverage
*.list
/RPMS/
